In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Fraud_check.csv")  
df.shape
list(df)
df.head()
df["Taxable.Income"]

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable.Income, Length: 600, dtype: int64

In [3]:
new_Y =[]
for i in df["Taxable.Income"]:
    if i<30000:
        new_Y.append("Risky")
    else:
        new_Y.append("Good")

In [4]:
new_Y = pd.DataFrame(new_Y)
new_df = pd.concat([df,new_Y], axis= 1)
new_df.drop(new_df.columns[[2]], axis = 1, inplace=True)
new_df

    Undergrad Marital.Status  City.Population  Work.Experience Urban     0
0          NO         Single            50047               10   YES  Good
1         YES       Divorced           134075               18   YES  Good
2          NO        Married           160205               30   YES  Good
3         YES         Single           193264               15   YES  Good
4          NO        Married            27533               28    NO  Good
..        ...            ...              ...              ...   ...   ...
595       YES       Divorced            39492                7   YES  Good
596       YES       Divorced            55369                2   YES  Good
597        NO       Divorced           154058                0   YES  Good
598       YES        Married           180083               17    NO  Good
599        NO       Divorced           158137               16    NO  Good

[600 rows x 6 columns]

In [5]:
# Label encode
from sklearn.preprocessing import LabelEncoder 
LE = LabelEncoder()
new_df['Undergrad'] = LE.fit_transform(df['Undergrad'])
new_df['Urban'] = LE.fit_transform(df['Urban'])
new_df['Marital.Status'] = LE.fit_transform(df['Marital.Status'])
new_df.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban     0
0          0               2            50047               10      1  Good
1          1               0           134075               18      1  Good
2          0               1           160205               30      1  Good
3          1               2           193264               15      1  Good
4          0               1            27533               28      0  Good

In [6]:
X = new_df.iloc[:,0:4]  
Y = new_Y

In [7]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
X = SS.fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.3, random_state=(10))

In [9]:
# model fitting
from sklearn.tree import DecisionTreeClassifier
Classifier = DecisionTreeClassifier(max_depth=(4))
Classifier.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=4)

In [10]:
print(Classifier.tree_.node_count)
print(Classifier.tree_.max_depth)

17
4

In [11]:
Y_pred_train = Classifier.predict(X_train) 
Y_pred_test = Classifier.predict(X_test)

In [12]:
print(Classifier.tree_.node_count)
print(Classifier.tree_.max_depth)

17
4

In [13]:
from sklearn.metrics import accuracy_score
print("Training data accuracy_score : ",accuracy_score(Y_train,Y_pred_train).round(2))
print("Test data accuracy_score : ",accuracy_score(Y_test,Y_pred_test).round(2))

Training data accuracy_score :  0.81
Test data accuracy_score :  0.76